/*
Custom Styles for the Geospecimens Prez-lite Application
20260420
*/

img#logo {
    height: 18px;
    width: auto;
}
ul.concept-list li:nth-child(even) {
    background-color: rgba(220,220,220,0.2);
}
.tree-node:hover {
    background-color: rgba(230,230,230,0.5);
}
ul.concept-list li span {
    font-weight: 500;
}
ul.concept-list li span:hover {
    font-weight: 600;
    transition: all 1s ease;
}